body {
    background-image: url("../img/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding:  0;
    margin : 0;
}
h1{
    color : #ffffff;
}

#mascotte404{
width: 50%;
height: auto;
margin-top: 10vh;
}

a{
    color:black;
    text-decoration: none;
}
#logo{
    color: #ffffff;
    text-decoration: none;
}