body {
    background-image: url("../img/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding:  0;
    margin : 0;
}
h1{
    color : #ffffff;
}

#mascotte404{
width: 50%;
height: auto;
margin-top: 10vh;
}

#logo{
    color: #ffffff;
    text-decoration: none;
}

#searchButton{
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    border-radius: 0px 100% 100% 0px;
}

#searchButton:hover{
    background-color: #FF8C42;
    border-color: #FF8C42;
    color: black;
    border-radius: 0px 100% 100% 0px;
}

